<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="お茶シューティング.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <お茶シューティング.My.MySettings>
            <setting name="HP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OKSAVEDATA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HappiOK" serializeAs="String">
                <value>False</value>
            </setting>
        </お茶シューティング.My.MySettings>
    </userSettings>
</configuration>